body {
	margin:0;
	padding:0;
	width:100%;
	background:#2d2626;
	color:#7C7874;
	font-size:110%;
	font-family: Georgia,"Times New Roman",Times,serif;
}
#wrapper {
	width:1000px;
	min-height:500px;
	padding-top:35px;
	margin: 10px auto;
	overflow:hidden;
}
#header {
	margin: 0 auto;	
	padding: 0;
	width: 100%;
}
.logo {
	margin: 0 auto;
	width:30%;
	background:#2d2626;
	text-align:center;
}
#main-menu {
	padding:0px;
	margin:20px 0;
	text-align: center;
	height:25px;
	width:100%;
	font-size:12px;
	text-transform:uppercase;
	z-index: 10000;
}
#messages {
	width:100%;
	margin: 0 auto;
}
#content {
	clear:left;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 12px;
	line-height: 20px;
	margin:10px auto 0px;
	padding:20px;
	background:white;
	min-height:500px;
	overflow:auto;
	text-align:justify;
	position:relative;
	
}
#content .slider {
	width:960px;
	height:502px;
	padding:1px;
	margin:0px;
	overflow:hidden;
}
#footercontainer {
	clear:left;
	width:100%;
	margin:0px;
	padding:0px;
	min-height:200px;
}
#footercontainer .footerfirst,#footercontainer .footersecond,#footercontainer .footerthird {
	width:313px;
	margin:0;
	padding:10px;
	min-height:200px;
	float:left;
	line-height: 15px;
	display:table-cell;
	vertical-align:middle;
}
#footer {
	clear:left;
	width:100%;
	margin:10px 0 0 0;
	padding:0;
	border-top:1px solid #464040;
	min-height:50px;
	text-align:center;
}
#content .sidebar-first,#content .sidebar-second {
	float:left;
	width:200px;
	margin:0px;
	padding:0px;
	min-height:500px;
	overflow:hidden;
}
#content .maincontentmiddle {
	float:left;
	margin:0px 20px 0px 20px;
	padding:0px;
	min-height:500px;
	width:520px;
	overflow:hidden;
}
#content .maincontentside {
	float:left;
	padding:0px 20px 0px 20px;
	margin:0px;
	min-height:500px;
	width:720px;
	overflow:hidden;
}
#content .maincontentfull {
	float:left;
	padding:0px 20px 0px 20px;
	margin:0px;
	min-height:500px;
	width:920px;
	overflow:hidden;
}

