#main-menu ul {
	list-style:none;
}
#main-menu ul li {
	display:inline-block;
	background:url("../images/menu_spacer.gif") no-repeat scroll 0 0 transparent;
	padding:0px 20px 10px;
	margin:0px;
	position:relative;
}
#main-menu ul li:first-child {
	background: none repeat scroll 0 0 transparent;
}
#main-menu ul ul,#main-menu ul ul ul {
	list-style:none;
	display:none;
}
#main-menu li a {
	text-decoration:none;
	color:white;
}
#main-menu li a.active,#main-menu li a.active-trail{
	color:inherit;
}
#main-menu li a:hover {
	color:inherit;
}
#block-system-main-menu>h2,.nice-menu-hide-title {
	display:none;
	visibility:hidden;
}
#main-menu .region #block-system-main-menu.block .content ul.menu {
	text-align:center;
	padding-left: 0px;
}
#main-menu .region #block-system-main-menu.block .content ul.menu li {
	text-align:center;
}
#content a,#footercontainer a {
	color:#0BA8BB;
	text-decoration:none;
}
ul.nice-menu li {
	background:#2D2626;
}
#footercontainer .footerhead {
	vertical-align:bottom;
	color:#FFFFFF;
	height:80px;
	text-indent:10px;
	padding-bottom:0;
	text-align:left;
}
#footercontainer .footerfoot {
	text-align:left;
	text-transform:uppercase;
	font-variant:small-caps;
	font-size:11px;
	vertical-align:top;
	padding:0px 10px;
}
#footercontainer .footerfoot a {
	color:#FFFFFF;
	text-decoration:none;
}
#footercontainer .footerfoot a:hover {
	color:inherit;
}
#footer .foot {
	text-align:center;
	vertical-align:middle;
	font-size:10px;
	text-transform:uppercase;
}
#content strong {
	color:#403B3B;
}
#content h1 {
	color: #2F2828;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0 0 20px 1px;
	text-transform: uppercase;
}
#content h2 {
	color: #2F2828;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0 0 20px 1px;
	text-transform: uppercase;
	text-align:left;
}
#content h3 {
	color: #2F2828;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 1.2em;
	padding: 0 0 20px 1px;
	text-transform: uppercase;
}

#content p {
    padding: 0 0 16px;
}
#content h4 {
  color: #2F2828;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
  padding: 0 0 20px 1px;
  text-transform: uppercase;
}
#content h6 {
  color: #AAA696;
  font-family: arial;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}
#content img {
	border: medium none;
}
/*#content li {
	padding-left: 18px;
}*/
#content label,#footercontainer label {
  margin-right: 10px;
}
#content input[type=text],#footercontainer input[type=text],#content input[type=password],#footercontainer input[type=password] {
  border: 1px solid #C7C3B1;
  color: #BAB09B;
  height: 35px !important;
  line-height: 35px !important;
  padding: 0 10px !important;
  width: 176px;
}
#content input[type=submit],#footercontainer input[type=submit],#content input[type=button],#footercontainer input[type=button],#content input[type=file],#footercontainer input[type=file] {
	background: none repeat scroll 0 0 #262020;
	border: medium none;
	border-radius:10px;
	color: #8E8181;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	min-height: 30px;
	max-width:100%;
	line-height: 30px;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0 15px;
	text-align: center;
	cursor: pointer;
	font-family: arial;
	word-wrap:break-word;
	white-space:normal;
}
#content select {
	color: #8E8181;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0 15px;
	cursor: pointer;
	font-family: arial;
}
#footer a {
	text-decoration:none;
	color:inherit;
}
#footer a:hover {
	color:#FFFFFF;
}
#content textarea {
	border: 1px solid #C7C3B1;
	color: #BAB09B;
	height: 220px;
	overflow: auto;
	padding: 10px 18px;
	resize: none;
}
#content .grippie {
	display:none;
}
#content #comments ul.tips li {
	list-style:none;
}
#content form#contact-site-form.contact-form .form-item .form-textarea-wrapper textarea {
	width:390px;
}
.filter-wrapper {
	border-style: solid;
	border-width: 0 1px 1px;
}
#content input[type=submit]:hover {
	background: none repeat scroll 0 0 #0BA8BB;
	color:#FFFFFF;
}
#content input[type=button]:hover {
	background: none repeat scroll 0 0 #0BA8BB;
	color:#FFFFFF;
}
#content .slider .content p {
	margin:0px;
}
#footercontainer .footerfirst a,#footercontainer .footersecond a,#footercontainer .footerthird a {
	text-decoration:none;
	color:#FFFFFF;
  font-size: 15px;
  padding: 10px 0px;
  margin: 0px;
}
#footercontainer .footerfirst a:hover,#footercontainer .footersecond a:hover,#footercontainer .footerthird a:hover {
	color:inherit;
}
#footercontainer .footerfirst h2, #footercontainer .footersecond h2, #footercontainer .footerthird h2 {
  color: #FFFFFF;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 10px 0px;
  text-transform: uppercase;
}

#footercontainer .footerfirst p,#footercontainer .footersecond p,#footercontainer .footerthird p {
	color: #FFFFFF;
  font-size: 15px;
  text-align: justify;
  text-decoration: none;
}
.submitted .permalink {
	display:none;
}
#edit-comment-body-und-0-format-guidelines,#edit-comment-body-und-0-format-help {
	display:none;
}
.filter-wrapper {
	border:0 none;
	padding:0px;
}
::-webkit-input-placeholder  { 
	font-style: italic;
	color:#D6D0C3;
}
input:-moz-placeholder,textarea:-moz-placeholder {
	font-style: italic;
	color:#D6D0C3;
}
#main-menu ul li:hover ul {
	list-style:none;
	display:block;
	background:#423C3C;
	position: absolute;
	top:15px;
	left:0px;
	padding:0px;
	z-index: 100;
	margin-top:5px;
	width:100%;
}
#main-menu ul li ul li{
	list-style:none;
	display:block;
	padding:10px;
	border:none;
	background: none repeat scroll 0 0 transparent;
	border-top: 1px solid;
}
#main-menu ul li ul li:first-child {
	border:none;
}
#main-menu ul li:hover ul ul {
	display:none;
}
#main-menu ul li ul li:hover ul {
	list-style:none;
	display:block;
	background:#423C3C;
	position: absolute;
	top:-10px;
	left:100%;
	padding:0px;
	z-index: 100;
	margin-top:10px;
	width:100%;
}
#main-menu ul ul ul li{
	list-style:none;
	display:block;
	padding:10px;
	border:none;
	background: none repeat scroll 0 0 transparent;
	padding:10px;
	border-top:1px solid;
}
#main-menu ul ul ul li:first-child {
	border:none;
}
#main-menu ul li:hover >a {
    color: inherit;
}
.footer_zyxware {
  font-size:8px;
  text-align:center;
  right:40px;
  bottom:1px;
  color:#bbb;
  float:right;
}
.footer_zyxware a {
  color:#bbb;
  text-decoration:none;
}
.footer_zyxware a:hover a:active {
  color:#bbb;
  text-decoration:none;
}                                   
